# Build artifacts.
*.obj
*.o
*.err
*.exe
*.lib

# Disk image files.
*.iso
*.log
*.img

# Documentation artifacts.
doc/internal

# Related to the boot system.
src/boot/boot.bin
src/boot/loader.com
src/boot/loader.map
src/boot/bloader.com

# Related to the tools build.
src/tools/bmp2hex
src/tools/copyboot
src/tools/memalign
